.form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.form__input {
  position: relative;
  width: 270px;
  margin-bottom: 39px;

  @media (max-width: $viewport--lg) {
    width: 279px;
    margin-bottom: 42px;
  }

  @media (max-width: $viewport--md) {
    width: 100%;
    margin-bottom: 30px;
  }
}

.form__input input,
.form__comment textarea {
  width: 100%;
  background-color: rgba($color-default-white, 0.1);
  border: none;
  border-radius: 0;
  color: $color-default-white;
  font-family: $font-default;
  font-size: 16px;

  &:hover,
  &:focus {
    outline: 1px solid $color-default-white;
  }

  &::placeholder {
    color: $color-default-white;
    font-family: $font-default;
    font-size: 16px;
  }
}

.form__input input {
  height: 50px;
  padding: 0 17px;
  line-height: 30px;

  @media (max-width: $viewport--md) {
    height: 52px;
  }
}

.form__comment {
  width: 100%;
}

.form__comment textarea {
  display: block;
  padding: 13px 10px 0 17px;
  height: 154px;
  margin-bottom: 43px;
  resize: none;

  @media (max-width: $viewport--lg) {
    height: 160px;
    margin-bottom: 45px;
  }

  @media (max-width: $viewport--md) {
    height: 104px;
    margin-bottom: 30px;
  }
}

.form button {
  min-width: 270px;
  padding: 14px 20px;
  font-family: $font-roboto-condensed;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  border-radius: 5px;
  border: 1px solid $color-default-white;
  background-color: $color-default-white;
  color: $color-default-white;
  text-transform: uppercase;
  cursor: pointer;

  @include anim-shutter(in);

  @media (max-width: $viewport--lg) {
    min-width: 281px;
  }

  @media (max-width: $viewport--md) {
    min-width: 100%;
    margin-bottom: 25px;
  }
}

.form__input-consent {
  order: 2;
  width: 263px;

  @media (max-width: $viewport--lg) {
    width: 270px;
    padding-top: 5px;
  }
}

.form__input-consent input {
  &:checked + label::after {
    opacity: 1;
  }

  &:focus + label::before {
    transform: scale(1.2);
  }
}

.form__input-consent label {
  display: block;
  position: relative;
  padding-left: 32px;
  font-size: 14px;
  line-height: 16px;
  color: rgba($color-default-white, 0.8);
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 16px;
    border: 1px solid $color-default-white;

    @media (max-width: $viewport--md) {
      top: 2px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 6px;
    left: 5px;
    width: 7px;
    height: 5px;
    border-bottom: 1px solid $color-default-white;
    border-left: 1px solid $color-default-white;
    transform: rotate(-45deg);
    opacity: 0;
    transition: opacity $default-transition;
  }
}

.form__invalid label::before {
  outline: 1px solid red;
}

.form__valid .valid {
  transform: translateY(-50%) scale(1);
}

.valid {
  position: absolute;
  top: 50%;
  transform: translateY(-50%) scale(0);
  right: 5px;
  width: 20px;
  height: 18px;
  transition: transform $default-transition;
}
