.intro {
  display: flex;
  background-color: $color-default-black;
  background-image: url("../img/desktop/bg-main@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  @include retina {
    background-image: url("../img/desktop/bg-main@2x.jpg");
  }

  @media (max-width: $viewport--lg) {
    background-image: url("../img/tablet/bg-main@1x.jpg");

    @include retina {
      background-image: url("../img/tablet/bg-main@2x.jpg");
    }
  }

  @media (max-width: $viewport--md) {
    background-image: url("../img/mobile/bg-main@1x.jpg");

    @include retina {
      background-image: url("../img/mobile/bg-main@2x.jpg");
    }
  }
}

.intro__wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 878px;

  @media (max-width: $viewport--lg) {
    min-height: 686px;
  }

  @media (max-width: $viewport--md) {
    min-height: 647px;
  }
}
