.intro {
  display: flex;
  background-color: $color-default-black;
  background-image: url("../img/desktop/bg-main@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  @include retina {
    background-image: url("../img/desktop/bg-main@2x.jpg");
  }

  @media (max-width: $viewport--lg) {
    background-image: url("../img/tablet/bg-main@1x.jpg");

    @include retina {
      background-image: url("../img/tablet/bg-main@2x.jpg");
    }
  }

  @media (max-width: $viewport--md) {
    background-image: url("../img/mobile/bg-main@1x.jpg");

    @include retina {
      background-image: url("../img/mobile/bg-main@2x.jpg");
    }
  }
}

.intro__height {
  padding-bottom: 45.73%; // соотношение высоты к ширине bg

  @media (max-width: $viewport--lg) {
    padding-bottom: 89.09%;
  }

  @media (max-width: $viewport--md) {
    padding-bottom: 202%;
  }
}

.intro__wrap {
  width: 100%;
}
