.main-screen {
  position: relative;
  flex-grow: 1;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  max-width: 1666px;
  padding: 0 0 30px 122px;
  margin: auto;
  color: $color-default-white;

  @media (max-width: 1681px) {
    max-width: 1594px;
    padding-left: 50px;
    margin-left: auto;
  }

  @media (max-width: $viewport--lg) {
    overflow: hidden;
    padding-left: 88px;
  }

  @media (max-width: $viewport--md) {
    padding: 0 15px 30px;

    &::after {
      content: url("../img/mobile/motherboars@1x.png");
      position: absolute;
      top: 37px;
      left: 50%;
      margin-left: -134px;

      @include retina {
        content: url("../img/mobile/motherboars@2x.png");
      }
    }
  }
}

.main-screen__wrap-content {
  position: relative;
  width: 718px;
  margin-right: 71px;

  @media (max-width: $viewport--lg) {
    width: 430px;
    margin-right: auto;
  }

  @media (max-width: $viewport--md) {
    margin: auto;
  }
}

.main-screen__bg {
  width: 755px;
  height: 515px;
  background-image: url("../img/desktop/motherboars@1x.png"),
    url("../img/desktop/triangles.svg");
  background-size: contain, auto;
  background-repeat: no-repeat, no-repeat;
  background-position: 0 center, 0 center;

  @include retina {
    background-image: url("../img/desktop/motherboars@2x.png"),
      url("../img/desktop/triangles.svg");
  }

  @media (max-width: $viewport--lg) {
    position: absolute;
    top: 9px;
    left: 457px;
    width: 518px;
    height: 384px;
    background-image: url("../img/desktop/motherboars@1x.png"),
      url("../img/tablet/triangles.svg");
    background-size: 465px 340px, auto;
    background-repeat: no-repeat, no-repeat;
    background-position: 53px 31px, 0 0;

    @include retina {
      background-image: url("../img/desktop/motherboars@2x.png"),
        url("../img/tablet/triangles.svg");
    }
  }

  @media (max-width: $viewport--md) {
    top: 15px;
    left: 167px;
    width: 460px;
    margin-top: 0;
    background-image: url("../img/mobile/triangles.svg");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}

.main-screen__wrap-content h2 {
  margin-top: 57px;
  margin-bottom: 27px;
  text-align: center;
  font-family: $font-roboto-condensed;
  font-weight: 600;
  font-size: 80px;
  line-height: 94px;
  letter-spacing: 0.07em;
  text-transform: uppercase;

  @media (max-width: $viewport--lg) {
    font-size: 60px;
    line-height: 70px;
    text-align: left;
    margin: 115px 0 29px;
  }

  @media (max-width: $viewport--md) {
    position: relative;
    margin: 192px 0 27px;
    font-size: 40px;
    line-height: 47px;
    z-index: 2;
  }
}

.main-screen__wrap-content p {
  position: relative;
  padding-left: 98px;
  margin-bottom: 44px;
  font-size: 22px;
  line-height: 34px;

  &::before {
    content: "";
    position: absolute;
    top: 17px;
    left: 4px;
    width: 66px;
    height: 2px;
    background-color: $color-default-white;
  }

  @media (max-width: $viewport--lg) {
    font-size: 18px;
    line-height: 28px;
    padding-left: 51px;
    padding-right: 30px;
    margin-bottom: 55px;

    &::before {
      width: 33px;
      top: 16px;
    }
  }

  @media (max-width: $viewport--md) {
    font-size: 16px;
    line-height: 25px;
    padding-left: 51px;
    padding-right: 0;
    margin-bottom: 41px;
  }
}

.main-screen__btn-form {
  margin-left: 98px;
  padding: 18px 45px;
  font-family: $font-roboto-condensed;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  border: 0;
  border-radius: 5px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  background-color: $color-default-white;
  color: inherit;
  cursor: pointer;

  @include anim-shutter(in);

  @media (max-width: $viewport--lg) {
    margin-left: 51px;
    padding: 18px 31px;
  }

  @media (max-width: $viewport--md) {
    display: block;
    margin: auto;
    padding: 18px 32px;
  }
}

.main-screen__btn-form span:last-child {
  display: none;

  @media (max-width: $viewport--md) {
    display: block;
  }
}

.main-screen__btn-form span:first-child {
  @media (max-width: $viewport--md) {
    display: none;
  }
}

.main-screen__btn-scroll {
  position: absolute;
  bottom: 94px;
  left: -35px;
  transform: rotate(-90deg);
  font-size: 14px;
  color: rgba($color-default-white, 0.5);
  transition: $default-transition;

  &:hover,
  &:focus {
    color: $color-blue;
  }

  &:active {
    transform: rotate(-90deg) translateX(-10px);
  }

  @media (max-width: $viewport--lg) {
    display: none;
  }
}
