.main-screen {
  position: relative;
  display: flex;
  justify-content: flex-end;
  max-width: 1666px;
  padding: 0 0 30px 122px;
  margin: auto;
  color: $color-default-white;

  @media (max-width: 1681px) {
    max-width: 1594px;
    padding-left: 50px;
    margin-left: auto;
  }

  @media (max-width: $viewport--lg) {
    padding-left: 88px;
  }
}

.main-screen__wrap-content {
  position: relative;
  width: 718px;
  margin-right: 71px;

  @media (max-width: $viewport--lg) {
    width: 430px;
    margin-right: auto;
  }
}

.main-screen__bg {
  width: 755px;
  padding-bottom: 33.35%;
  background-image: url("../img/desktop/motherboars@1x.png"),
    url("../img/desktop/triangles.svg");
  background-size: contain, auto;
  background-repeat: no-repeat, no-repeat;
  background-position: 0 center, 0 center;

  @include retina {
    background-image: url("../img/desktop/motherboars@2x.png"),
      url("../img/desktop/triangles.svg");
  }

  @media (max-width: $viewport--lg) {
    position: absolute;
    top: 50%;
    left: 457px;
    width: 518px;
    height: 384px;
    margin-top: -231px;
    background-image: url("../img/desktop/motherboars@1x.png"),
    url("../img/tablet/triangles.svg");
    background-size: 465px 340px, auto;
    background-repeat: no-repeat, no-repeat;
    background-position: 53px 31px, 0 0;

    @include retina {
      background-image: url("../img/desktop/motherboars@2x.png"),
      url("../img/tablet/triangles.svg");
    }
  }
}

.main-screen__wrap-content h2 {
  margin-top: 57px;
  margin-bottom: 27px;
  text-align: center;
  font-family: $font-roboto-condensed;
  font-weight: 600;
  font-size: 80px;
  line-height: 94px;
  letter-spacing: 0.07em;
  text-transform: uppercase;

  @media (max-width: $viewport--lg) {
    font-size: 60px;
    line-height: 70px;
    text-align: left;
    margin-top: 115px;
    margin-bottom: 29px;
  }
}

.main-screen__wrap-content p {
  position: relative;
  padding-left: 98px;
  margin-bottom: 44px;
  font-size: 22px;
  line-height: 34px;

  &::before {
    content: "";
    position: absolute;
    top: 17px;
    left: 4px;
    width: 66px;
    height: 2px;
    background-color: $color-default-white;
  }

  @media (max-width: $viewport--lg) {
    font-size: 18px;
    line-height: 28px;
    padding-left: 51px;
    padding-right: 30px;
    margin-bottom: 55px;

    &::before {
      width: 33px;
      top: 16px;
    }
  }
}

.main-screen__btn-form {
  margin-left: 98px;
  padding: 18px 45px;
  font-family: $font-roboto-condensed;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  border: 0;
  border-radius: 5px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  background-color: $color-blue;
  color: inherit;
  cursor: pointer;

  @media (max-width: $viewport--lg) {
    margin-left: 51px;
    padding: 18px 31px;
  }
}

.main-screen__btn-scroll {
  position: absolute;
  bottom: 19px;
  left: -35px;
  transform: rotate(-90deg);
  font-size: 14px;
  color: rgba($color-default-white, 0.5);

  @media (max-width: $viewport--lg) {
   display: none;
  }
}
