.wrap-main {
  background-image: url("../img/polygon3-round.svg");
  background-position: 58% 301px;
  background-repeat: no-repeat;

  @media (max-width: $viewport--lg) {
    background-position: 483px 244px;
  }

  @media (max-width: $viewport--md) {
    background-position: 153px 58.8%;
  }
}
