$font-default:                    "PT Mono", "Times New Roman", serif;
$font-roboto:                     "Roboto", "Arial", sans-serif;
$font-roboto-condensed:           "Roboto Condensed", "Arial", sans-serif;

$viewport--sm:                      320px;
$viewport--md:                      767px;
$viewport--lg:                      1023px;

$color-default-black:                #000000;
$color-default-white:                #ffffff;
$color-logo-description:             #788891;
$color-blue:                         #00b2ff;
$color-text-black:                   #1b2d37;
$color-hl:                           #626962;
$color-text-logo:                    #203c42;
$color-sign-accordeon:               #c4c4c4;


$retina-dppx: 1.5dppx;
$retina-dpi: 144dpi;

$default-transition: 0.3s;
