$font-default:                    "PT Mono", "Arial", sans-serif;
$font-roboto:                     "Roboto", "Arial", sans-serif;
$font-roboto-condensed:           "Roboto Condensed", "Arial", sans-serif;

$viewport--sm:                      320px;
$viewport--md:                      767px;
$viewport--lg:                      1023px;

$color-default-black:             #000000;
$color-default-white:             #ffffff;


$retina-dppx: 1.5dppx;
$retina-dpi: 144dpi;

$default-transition: 0.3s;
