<section id="feedback" class="feedback">
  <div class="feedback__overlay">
    <div class="feedback__wrap">
      <h2>Остались вопросы? Задайте их нам!</h2>
      <p>Мы проконсультируем Вас бесплатно</p>
      <form class="feedback__form form" action="#" method="post">
        <div class="form__input form__input--name">
          <input name="name" pattern="[^\d#@+/\\]+" data-validate type="text" aria-label="Введите Ваше Имя" maxlength="32" placeholder="Имя"
                  required>
        </div>
        <div class="form__input form__input--phone">
          <input name="phone" pattern="[\d+\-()\s]*" data-validate type="text" aria-label="Введите Ваш номер телефона" placeholder="Телефон"
                  required>
        </div>
        <div class="form__comment">
          <textarea name="comment" aria-label="Написать вопрос" placeholder="Ваш вопрос"></textarea>
        </div>
        <button type="submit">Задать вопрос</button>
        <div class="form__input-consent">
          <input class="visually-hidden" id="consent" name="consent" type="checkbox" required>
          <label for="consent">Я согласен на обработку <span class="feedback__space"></span> персональных данных</label>
        </div>
      </form>
      <button class="feedback__btn" type="button" aria-label="закрыть окно"></button>
    </div>
  </div>
</section>
