<section class="goods">
  <div class="goods__wrap">
    <h2 class="goods__title">Service Device предлагает следующие товары и услуги</h2>
    <ul class="goods__list">
      <li class="goods__item">
        <a class="goods__link" href="#">
          <figure class="goods__subject goods__subject--production">
            <picture>
              <!-- 1x-370x620 2x-740x1240 -->
              <source type="image/webp" srcset="img/desktop/goods1@1x.webp 1x, img/desktop/goods1@2x.webp 2x">
              <img class="header__bg" src="img/desktop/goods1@1x.png" srcset="img/desktop/goods1@2x.png 2x" width="370" height="620"
                    alt="Производство печатных плат">
            </picture>
            <figcaption>Производство печатных плат</figcaption>
          </figure>
        </a>
      </li>

      <li class="goods__item">
        <a class="goods__link" href="#">
          <figure class="goods__subject">
            <picture>
              <!-- 1x-370x620 2x-740x1240 -->
              <source type="image/webp" srcset="img/desktop/goods2@1x.webp 1x, img/desktop/goods2@2x.webp 2x">
              <img class="header__bg" src="img/desktop/goods2@1x.png" srcset="img/desktop/goods2@2x.png 2x" width="370" height="620"
                    alt="Монтаж печатных плат">
            </picture>
            <figcaption>Монтаж печатных плат</figcaption>
          </figure>
        </a>
      </li>

      <li class="goods__item">
        <a class="goods__link" href="#">
          <figure class="goods__subject goods__subject--light">
            <picture>
              <!-- 1x-370x620 2x-740x1240 -->
              <source type="image/webp" srcset="img/desktop/goods3@1x.webp 1x, img/desktop/goods3@2x.webp 2x">
              <img class="header__bg" src="img/desktop/goods3@1x.png" srcset="img/desktop/goods3@2x.png 2x" width="370" height="620"
                    alt="Комплектующие для светотехники">
            </picture>
            <figcaption>Комплектующие для светотехники</figcaption>
          </figure>
        </a>
      </li>
    </ul>
  </div>
</section>
